body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header, footer, div {
    border: 3px solid black;

}
header{
    margin-top: 20px;
}
section{
    height: 70px;
    width: auto;

}
span{
    font-size: 45px;
}

.grid{
    width: 500px;
    height: 500px;
    display: grid;
}
.btnContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.sizeSelectorContainer{
    height: 50px;
}
button {
    width: 25%;
}

